@charset "utf-8";
/* 共通部分 */
* {
  box-sizing: border-box;
}
html {
  font-size: 100%;
  font-family: serif,'Philosopher','Times New Roman';
  line-height: 1.7;
  color: #443322;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
header {
  background-color: snow;
  width: 100%;
  position: fixed;
  z-index: 10;
}
.mark {
  margin: auto 0;
  background: #0bd;
  border-radius: 10px;
  color: #fff;
  width: 150px;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  border: aqua 1px solid;
}
.mark:hover {
  color: aqua
}
.main-nav {
  display: flex;
  font-size: 1.3rem;
  text-transform: uppercase;
  margin: 10px;
  list-style: none;
  font-family: 'Philosopher',serif;
  font-weight: bolder;
}
.main-nav  li {
  margin-left: 30px;
  display: block;
  padding: 5px;
}
.main-nav a {
  color: #432;
  display: block;
}
.main-nav a:hover {
  color: gray;
}
.page-header {
  display: flex;
  justify-content: space-between;
}
.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;
}
.page-title {
  text-align: center;
  margin: 0 auto 20px auto;
}
.page-title p {
  font-size: 1.3rem;
  margin: 0 0 50px 0;
  font-weight: bolder;
  font-family: 'Philosophr',serif;
}
.page-title h1 {
  padding-top: 150px;
  font-size: 2rem;
  font-family: 'Philosophr',serif;
  text-transform: uppercase;
}
.big-bg {
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}
#home {
  background-color: antiquewhite;
  min-height: 95vh;
}
.slide-btns {
  font-size: 18px;
  width: 640px;
  margin: 10px auto;
  font-weight: bolder;
}
.slide-btns:affter {
  content: "";
  clear: both;
  display: block;
}
.slide-btn:hover {
  color: gray;
  cursor: pointer;
}
.before {
  display: none;
  float: left;
}
.after {
  float: right;
}
.slides {
  margin: 10px auto 10px auto;
  width: 640px;
} 
.slide {
  display: none;
  padding-bottom: 30px;
}
.active {
  display: block;
}

/* kanko */
#kanko {
  background-color: lightsteelblue;
  padding-bottom: 30px;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}
#kanko .kanko-grid {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(auto-fit, minmax(240px,1fr));
  margin-top: 30px;
  margin-bottom: 50px;
}
.kanko-grid .item {
  padding: 0.8rem;
  background-color: aliceblue;
  width: auto;
  height: auto;
  border-radius: 5px;
}
.kanko-grid .item a:hover {
  color: gray;
}
.kanko-grid .item a {
  text-align: center;
  font-size: 1.3rem;
  display: block;
  font-weight: bolder;
  color: #432;
  font-family: serif;
}
.kanko-grid .item p {
  padding-top: 10px;
  font-family: serif;
  text-align: center;
  font-size: 17px;
}
.links {
  display: flex;
  justify-content: space-between;
  margin: 20px 80px;
  font-size: 17px;
}
.links a {
  color: #432;
  font-weight: bolder;
  padding: 10px;
}
.links a:hover {
  color: gray;
} 
iframe {
  width: 100%;
  margin: 0 auto;
}

/* footer */
footer {
  background: #432;
  text-align: center;
  padding: 26px 0;
  margin-top: 10px;
}
footer p {
  color: #fff;
  font-size: 0.875rem;
}

/* subkaru */
#subkaru .big-bg {
  background-color: bisque;
  padding-bottom: 30px;
}
.days {
  margin: 10px auto 30px auto;
  width: 600px;
  display: flex;
  justify-content: space-between;
}
.model-title {
  text-align: center;
  margin: 0 auto;
  border-bottom: gray 1px solid;
  width: 250px;
}
.day {
  padding: 10px;
  margin: 10px;
  width: 270px;
}
.day h3 {
  background-color: burlywood;
  text-align: center;
  border: gray 1px solid;
  padding: 5px;
}
.day li {
  font-weight: bolder;
  text-align: center;
  display: block;
  border: 1px gray solid;
  background-color:navajowhite;
  padding: 8px;
  font-size: 18px;
}
.day a {
  display: block;
  color: #432;
}
.day p {
  font-size: 15px;
  text-align: center;
  background-color: snow;
  border: gray 1px solid;
  padding: 3px;
}

/* koramu */
#koramu {
  background-image: url(..//images/istockphoto-1092506504-170x170.jpg);
  padding-bottom: 30px;
  margin-bottom: 10px;
}
.koramu-grid {
  font-family: serif;
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
  margin-top: 30px;
  margin-bottom: 30px;
}
.koramu-grid .item {
  font-size: 18px;
  font-weight: bolder;
  padding: 0.7rem;
  background-color: rgba(234,246,253,.8);
  width: auto;
  height: auto;
  border-radius: 5px;
}
.koramu-grid h4 {
  font-size: 1.3rem;
  text-align: center;
  padding: 10px 0 0 0; 
}
.koramu-grid p {
  font-weight: bolder;
  padding: 1rem;
}
.koramu-grid ul {
  padding: 10px 0;
}
.koramu-grid li span {
  color: blue;
}
.koramu-grid li {
  list-style: none;
  text-align: center;
}
.mentai li {
  color:blue;
  text-align: center;
}
.koramu-grid .susi {
  margin: 13px auto;
  text-align: center;
}
.koramu-grid .ichigo {
  margin: 13px auto;
  text-align: center;
}
.koramu-grid a {
  color: #432;
  display: block;
}
.koramu-grid a:hover {
  color: gray
}


@media (max-width: 670px) {
  .page-header {
    flex-direction: column;
    align-items: center;
  }
  .mark {
    margin: 10px;
    background: #0bd;
    border-radius: 10px;
    color: #fff;
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center;
  }
  .mark a {
    padding: 10px;
  }
  nav {
    width: 100%;
  }
  .main-nav {
    font-size: 17px;
    margin: 0;
  }
  .main-nav li {
    margin: 10px auto;
  }
  .page-title h1 {
    font-size: 1.5rem;
  }
  .page-title p {
    font-size: 1rem;
  }
  .slide-btns {
    width: 90%;
    margin: 0 auto;
    font-size: 15px;
  }
  .slides {
    width: 90%;
    margin: 0 auto;
  }
    
  /* kanko */
  #kanko .kanko-grid {
    gap: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
}
  .kanko-grid .item a {
    font-size: 18px;
  }
  .kanko-chizu iframe {
    max-width: 100%;
    margin: 0 auto;
  }
  .links {
    flex-direction: column;
    align-items: center;
    margin: 10px auto;
  }
  .link {
    padding: 15px;
  }
  
  /* subkaru */
  .days {
    flex-direction: column;
    align-items: center;
    width: 90%;
  }
  .model-title {
    width: 90%;
    font-size: 15px;
  }
  #subkaru .subkaru-chizu {
    width: 100%;
    margin: 15px auto;
  }
  #subkaru iframe {
    width: 100%;
  }
  
  /* .koramu */
  .koramu-grid {
    gap: 20px;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  .koramu-grid h4 {
    font-size: 21px ;
  } 
  .koramu-grid li {
    font-size: 17px;
  }
  .koramu-grid p {
    font-size: 17px;
  }
}
